.page:not(.active) {
    display: none;
}

@font-face {
    font-family: Quicksand;
    src: url('/public/Quicksand-Regular.otf')
}

@font-face {
    font-family: Quicksand-Light;
    src: url('/public/Quicksand-Light.otf')
}

@font-face {
    font-family: Quicksand-Bold;
    src: url('/public/Quicksand-Bold.otf')
}

* {
    font-family: Quicksand, Arial, sans-serif;
}

body,
html {
    background-color: #222;
}

.page.page--login,
.page.page--home {
    color: white
}

body:not(.isadmin) .admin {
    display: none;
}

body {
    --player-color-1: red;
    --player-color-2: #4363d8;
    --player-color-3: maroon;
    --player-color-4: green;
    --player-color-5: purple;
    --player-color-6: teal;
    --player-color-7: #f58231;
    --player-color-8: blue;
    --player-color-9: #b09f30;
    --player-color-10: #f032e6;
    --player-color-11: #9a6324;
    --player-color-12: #7ab78c;
    --player-color-13: #483d8b;
}

.page--game_play {
    position: fixed;
    margin: 0;
}

.page--game_play>table {
    border-collapse: collapse;
}

.page--game_play>.turn-counter {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    font-size: 16px;
    background: white;
    color: black;
    border-right: 2px solid teal;
    border-bottom: 2px solid teal;
    text-align: center;
    min-width: 84px;
    z-index: 40;
}

.game-table {
    position: relative;
}

.game-table td {
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    min-width: var(--cell-size);
    min-height: var(--cell-size);
    max-width: var(--cell-size);
    max-height: var(--cell-size);
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    font-size: var(--number-size);
    white-space: nowrap;
    color: #dcdcdc;
    box-sizing: border-box;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0;
    background-color: #dcdcdc;
    text-shadow: 0 0 2px black;
}

.game-table td,
.disable-select {
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.game-table td.owner--1 {
    background-color: var(--player-color-1);
    color: white;
}

.game-table td.owner--2 {
    background-color: var(--player-color-2);
    color: white;
}

.game-table td.attackable {
    opacity: .4;
}

.game-table td.attackable:hover {
    cursor: pointer;
}

.game-table td.selectable {
    z-index: 20;
}

.game-table td.selectable:hover {
    cursor: pointer;
}

.game-table td.selected {
    border: 1px solid white;
    z-index: 30;
}

.game-table td:not(.type--empty) {
    background-size: var(--bg-size);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

.game-table .type--general {
    background-image: url(/public/general.png);
}

.game-table .type--city {
    background-image: url(/public/city.png);
    background-color: rgb(128, 128, 128);
}

.game-table .type--mountain {
    background-image: url(/public/mountain.png);
    background-color: rgb(187, 187, 187);
}

.game-table .type--unknown {
    border: 0 solid transparent;
    background-color: rgba(255, 255, 255, 0.1);
}

.game-table .type--obstacle {
    border: 0 solid transparent;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url(/public/obstacle.png);
}

.game-table .center-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.game-table .center-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
